@import "utils.scss";



/* *************** ---------- CART ITEM ---------- *************** */
.cart-item {
  background-color: rgba(255,255,255, .4);
  margin-bottom: toUnit(15);
  padding: toUnit(10) toUnit(20);
  @include transition(background-color);
  &:hover {
    background-color: rgba(255,255,255, .5);
  }
  .cart-item-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: toUnit(4);
    width: toUnit(80);
    height: toUnit(60);
    text-align: center;
    img {
      height: 90%;
      width: auto;
    }
  }
  .cart-item-quantity {
    white-space: nowrap;
    .quantity-value,
    .btn.icon {
      display: inline-block;
      vertical-align: middle;
    }
    .quantity-value {
      font-size: toUnit(20);
      padding: toUnit(5);
    }
  }
  .group {
    position: relative;
  }
  .cart-item-values {
    .clump {
      white-space: nowrap;
    }
  }
  .cart-item-cta {
    position: absolute;
    top: 0;
    right: 0;
    .btn.delete {
      font-size: toUnit(16);
    }
  }
}
    









