@import "utils.scss";



/* *************** ---------- MAIN CONTENT ---------- *************** */
#main {
  .sizer {
    display: table; 
  }
  #content {
    display: table-cell;
    padding-top: $vSpace;
    padding-right: toUnit(0);
    vertical-align: top;
    width: 77%;
    /*width: toUnit(924);*/
  }
}

