@import "utils.scss";



/* *************** ---------- ITEM ---------- *************** */
.item {
  background: #fff;
  border: 2px solid $colorMain;
  display: inline-block;
  margin: 0 toUnit(25) toUnit(25) 0;
  padding: $vSpace toUnit(30);
  text-align: center;
  vertical-align: top;
  /*width: 27%;*/
  width: toUnit(265);
  @include transition();
  &:hover {
    background-color: #e9fdf6;
    /*transform: scale(1.02);*/
  }
  .item-picture {
    margin-bottom: toUnit(5);
    min-height: toUnit(185);
    line-height: toUnit(185);
    overflow: hidden;
    width: 100%;
    img {
      height: auto;
      vertical-align: middle;
      width: 80%;
    }
  }
  .item-details {
    .item-name {
      margin-bottom: toUnit(15);
      text-transform: capitalize;
      h3 {
        font-weight: normal;
      }
    }
    .item-info {
      margin-bottom: toUnit(25);
      .item-price {
        font-size: toUnit(35);
      }
      .item-price {
        margin-right: toUnit(2);
      }
      .item-quantity {
        font-size: toUnit(20);
        text-transform: capitalize;
      }
    }
  }
  .item-ctas button {
    width: 100%;
  }
}



/* ---------- MEDIA QUERIES ---------- */
@media only screen and (max-width: 1030px) {
  .item {
    margin: 0 toUnit(9) toUnit(9) 0 !important;
  }
}











