@import "utils.scss";



/* *************** ---------- SIDEBAR ---------- *************** */
#sidebar {
  background: $colorMain;
  display: table-cell;
  padding: $vSpace 0;
  vertical-align: top;
  width: 23%;
}










